.book {
  width: min(90vw, 600px);
  aspect-ratio: 1 / 1.414;   /* A4 ratio */
  height: auto;
  perspective: 2500px;
  position: relative;
}

.book {
  width: 600px;
  height: 848px;
  perspective: 2500px;
  position: relative;
}

.page {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fff;
  transform-origin: left;
  transition: transform 1s ease-in-out;
  box-shadow: 0 20px 40px rgba(0,0,0,0.45);
  border-radius: 4px;
}


.page img {
  width: 100%;
  height: 100%;
  object-fit: contain;   /* DO NOT change this */
  background: white;
}


.page.flipped {
  transform: rotateY(-360deg);
}

.page:not(.active) {
  z-index: -1;
}

@media (max-width: 768px) {
  body {
    align-items: flex-start;
    padding-top: 20px;
  }

  .book {
    width: 95vw;
  }
}
